<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Destination</title>
</head>
<body>
	<a href="/travels">Home</a>
	<a href="/logout">Logout</a>
	<h1>{{ dest.dest }}</h1>
	<p><b>Planned By:</b> {{ dest.planner.first_name }} {{ dest.planner.last_name }}</p>
	<p><b>Description</b> {{ dest.desc }}</p>
	<p><b>Travel Date From:</b> {{ dest.date_from }}</p>
	<p><b>Travel Date To:</b> {{ dest.date_to }}</p>
	{% if joined %}
		<h1>Other users joining the trip:</h1>
		{% for user in joined %}
			<p>{{ user.first_name }} {{ user.last_name }}</p>
		{% endfor %}
	{% endif %}
</body>
</html>